<!DOCTYPE html>
<html lang="en">
  <head><style>
    body {
        background-color:rgb(182, 230, 173);
      }
    </style></head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Our Website</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      {% include 'navbar.html'  %}

      <h1>About our Website</h1>
      <p><i>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, ab
        mollitia vero tempora ipsa perferendis praesentium repellendus. A sint
        quas officia quo esse eos exercitationem voluptates unde illo quisquam,
        id, illum voluptatem cumque reiciendis ad assumenda, aspernatur
        molestiae. Vitae quidem suscipit, culpa illum ullam ipsa cum quis
        voluptatum dolorem possimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Deserunt, quo, magni repellat corrupti, impedit adipisci nostrum dignissimos modi ut
         praesentium molestiae veniam iure temporibus? Iusto, maxime voluptate est fugit,
          quibusdam labore nisi voluptatibus exercitationem laborum quae molestias, obcaecati 
          explicabo minima quam quod corrupti? Dolorem quos nesciunt, ipsam soluta reprehenderit,
           praesentium delectus quod nobis natus earum voluptatum, ipsa architecto. Iure explicabo
            dolores sunt fugit voluptatum mollitia in beatae vel hic excepturi rerum, libero odit
             minima saepe praesentium incidunt optio a sed cumque ad quis! Placeat corporis,
              repellendus quibusdam deleniti obcaecati, excepturi in impedit quidem dignissimos 
              possimus magni laboriosam odit distinctio quisquam ipsa pariatur consequuntur natus
               quaerat. Illo vel nesciunt delectus eum soluta inventore repellendus, eligendi sint, 
               labore, consequatur dolorum? Magni quisquam est ad nemo sit laboriosam aspernatur
                nostrum inventore ipsa rem, nesciunt facilis necessitatibus rerum? Dolorum consequuntur
                 debitis distinctio velit nesciunt. Sint fugit sit, doloribus libero quos ducimus dolorem,
                  incidunt soluta nisi numquam eligendi suscipit repudiandae distinctio mollitia, quis
                   sapiente! Vitae nihil ipsum aperiam officia quod qui. Nisi obcaecati sapiente rem,
       ducimus fugiat alias maiores atque molestias adipisci? Architecto corporis dolorem magnam tenetur\
        cumque, beatae temporibus praesentium! Odio repudiandae quisquam libero neque necessitatibus 
        excepturi, culpa ipsa harum error nulla nam, obcaecati enim laborum quia magnam corrupti perspiciatis
         vel ut at exercitationem. Expedita ipsam fuga cupiditate nobis tempora qui minima consectetur. Dolores 
         laborum doloribus aut temporibus cupiditate ducimus enim nihil reprehenderit praesentium libero cum 
         perspiciatis consequatur itaque harum suscipit ea, incidunt exercitationem ullam illum soluta dignissimos
          vitae! Cum officiis mollitia enim odio distinctio molestiae ducimus quasi temporibus repudiandae quos alias 
          aliquid architecto natus ipsam nemo eveniet, vero aut incidunt quaerat sunt odit. Facere, unde nostrum
     veritatis nobis et, ipsa voluptas in numquam eos adipisci rem perferendis dolorem asperiores natus tempora 
     nisi perspiciatis laudantium? Repudiandae, adipisci obcaecati ullam illum odio ex magni nam cumque facere
      </p>
      <button>Contact US</button>
    </div>
  </body>
</html>
