<!DOCTYPE html>
<html lang="en">
  <head><style>
    p {
        background-image: url('natu.jpg');
      }
    </style></head>
    <body>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Follow page</title>
    <div class="container" style="text-align: center">
        <h1 style="color:rgb(255, 45, 30);">
          <div id="foot"><marquee>Follow Our Website</marquee></div></h1>
            <p style="color:blue;"><b>Ut wisi
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, ab
        mollitia vero tempora ipsa perferendis praesentium repellendus. A sint
        quas officia quo esse eos exercitationem voluptates unde illo quisquam,
        id, illum voluptatem cumque reiciendis ad assumenda, aspernatur
        molestiae. Vitae quidem suscipit, culpa illum ullam ipsa cum quis
        voluptatum dolorem possimus? Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Autem architecto minima obcaecati repellat quam eaque
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, maiores!
        Eligendi, fugiat sint. Laboriosam sit rerum eaque magnam, assumenda 
        repellendus porro exercitationem voluptatibus voluptatum error sed nihil 
        iusto aliquam tenetur. modi voluptatum dolorum molestiae illo harum libero
        earum voluptatibus, praesentium accusamus esse exercitationem aliquam iste!Lorem 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nisi deleniti 
        repellat placeat maiores ea saepe quis alias autem dicta aspernatur impedit? 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit cons
        equatur voluptate totam, consectetur sapiente magni error, quidem dolore eaque 
        quisquam temporibus qui porro odit illo. Reiciendis facilis tempore debitis? 
        Dignissimos natus sequi quod! Corporis blanditiis sit velit! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Aliquam alias recusandae, corporis laborum 
        possimus sed velit in ea dignissimos natus nostrum quam dolorum minima nihil eaque 
        odio accusantium nulla dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dicta animi est dolorum ducimus accusantium necessitatibus ab officiis at magni voluptatem.
        Iste ullam aut quas cum fugit molestiae quia, ipsa recusandae.
      </p><b>
  </div></body></html>
</html>
